<section style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
    <div style="flex-basis: calc(50% - 10px); padding: 0 20px 20px 0;">
        <h3>Impact and Perception of Generative AI</h3>
        <p>Conducted research alongside Dr. Vinod Pangracious and Dr. Nejib Ben Hadj-Alouane. Through utilising structured equation modelling, I created a model and analysed the latent variables to assess the effects of generative AI in the Gulf region. </p>
        <!-- PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        PUT LINK TO RESEARCH PAPER LATER????
        
        -->
    </div>
    <div style="flex-basis: calc(50% - 10px); padding: 0 0 20px 20px;">
        <h3>Course on Transistors and Logic Gates</h3>
        <p>Building the first practical hands-on course for future Dubai College students. To be integrated into the GCSE curriculum with the support of the Head of Computer Science, Mr. Wood, in the form of an online course with hours of content.</p>
    </div>
</section>

<section style="display: flex; flex-wrap: wrap; gap: 20px;">
    <div style="flex-basis: 100%;">
        <div style="display: flex; gap: 20px;">
            <div style="flex-basis: 60%; max-width: 60%;">
                <h3>8-Bit CPU</h3>
                <p>Built a custom 8-bit CPU at a 3-week intensive course at the Center for Talented Development at Northwestern University. Working with Windy City labs, I designed custom schematics and internal components and programmed a custom assembly language.</p>
            </div>
            <div style="flex-basis: 40%; max-width: 40%;">
                <img src="{{ site.baseurl }}/assets/files/cpu.jpg" alt="Project Image" style="max-width: 100%; height: auto; display: block;">
            </div>
        </div>
    </div>
    <!-- Add more project items as needed
    <div style="flex-basis: calc(50% - 10px); padding: 0 0 20px 20px;">
        <h3>Project 2</h3>
        <p>Description of Project 2</p>
    </div>
    -->
    
</section>