<section style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
    <div style="flex-basis: calc(50% - 10px); padding: 0 20px 20px 0;">
        <h3>Impact and Perception of Generative AI</h3>
        <p>Conducted research alongside Dr. Vinod Pangracious and Dr. Nejib Ben Hadj-Alouane. Through utilising structured equation modelling, I created a model and analysed the latent variables to assess the effects of generative AI in the Gulf region. </p>
        <!-- PUT LINK TO RESEARCH PAPER LATER????
        #
        #
        #
        #
        #
        #
        #
        #
        -->
    </div>
    <div style="flex-basis: calc(50% - 10px); padding: 0 0 20px 20px;">
        <h3>Project 2</h3>
        <p>Description of Project 2</p>
    </div>



    <!-- Add more project items as needed
    <div style="flex-basis: calc(50% - 10px); padding: 0 0 20px 20px;">
        <h3>Project 2</h3>
        <p>Description of Project 2</p>
    </div>
    -->
    
</section>